<div ng-controller="listingController" class="row">
	<div class="col-md-9">
		<div class="row">
			<div class="col-md-3">
				<input type="text" class="form-control" placeholder="search" ng-model="searchTerm" />
			</div>
			<div class="col-md-3" >
				<select ng-model="limitItems" class="form-control">
					<option value="5">5</option>
					<option value="10">10</option>
					<option value="50">50</option>
				</select>
			</div>
			<div class="col-md-3">
				<input type="radio" ng-model="orderTerm" value="price" />
				Price
				<input type="radio" ng-model="orderTerm" value="name" />
				Name
			</div>
		</div>
		<hr/>
		<div  class="row" ng-show="loading">
			<h1 class="text-warnin">Loading.....</h1>
		</div>
		<div ng-show="error" class="row">
			<h1 class="text-danger">{{error}}</h1>
		</div>

		<div ng-repeat="hotel in hotels | filter: searchTerm | limitTo : limitItems| orderBy : orderTerm" class="row well well-sm">
			<hotel-item></hotel-item>
		</div>

	</div>
	<div class="col-md-3" >
		<quick-add></quick-add>
		<br/>
		<br/>
		<div >
			<favs></favs>
		</div>
	</div>

</div>