<div ng-controller="listingController">
		<div class="row">
			<div class="col-md-3">
				<input type="text" class="form-control" placeholder="search" ng-model="searchTerm" />
			</div>
			<div class="col-md-3" >
				<select ng-model="limitItems" class="form-control">
					<option value="5">5</option>
					<option value="10">10</option>
					<option value="50">50</option>
				</select>
			</div>
			<div class="col-md-3">
				<input type="radio" ng-model="orderTerm" value="price" />
				Price
				<input type="radio" ng-model="orderTerm" value="name" />
				Name
			</div>
		</div>
		<hr/>
		<div class="row">
			<div class="col-md-10">
				<div ng-repeat="hotel in hotels | filter: searchTerm | limitTo : limitItems| orderBy : orderTerm" class="row well well-sm">
					<div class="col-md-1">
						<div class="text-center">
							<button class="btn btn-default" ng-click="votingService.upVote(hotel)">
								<span class="glyphicon glyphicon-chevron-up text-success"></span>
							</button>
						</div>
						<div class="text-center">
							<h4>{{hotel.rating}}</h4>
						</div>
						<div class="text-center">
							<button class="btn btn-default" ng-click="votingService.downVote(hotel)">
								<span class="glyphicon glyphicon-chevron-down text-danger"></span>
							</button>
						</div>

					</div>
					<img class="col-md-2 col-sm-8 col-xs-12" ng-src="{{hotel.img}}">
					<div class="col-md-7">
						<div>
							<h4>
								{{hotel.name}}
								<span class="glyphicon glyphicon-star text-primary" ng-repeat="x in hotel.rating | numberToArray track by $index"></span>

							</h4>

						</div>
						<div class="text-muted">{{hotel.location | na | indianize}}</div>
						<div class="visible-md visible-lg small">

							<span ng-hide="hotel.showMore">{{hotel.description | na | limitTo : descLength}}</span>
							<span ng-show="hotel.showMore">{{hotel.description | na}}</span>
							<a href="" ng-click="toggleMore(hotel)" ng-show="hotel.description.length >descLength && !hotel.showMore" >... more</a>
							<a href="" ng-click="toggleMore(hotel)" ng-show="hotel.showMore" >less</a>
						</div>
					</div>
					<div class="col-md-2 text-center">
						<h2>{{hotel.price | currency : 'INR '}}</h2>
					</div>
				</div>

			</div>
			<div class="col-md-2" ng-controller="addController">
				<div class="panel panel-primary">
					<div class="panel-heading">Quick Add</div>
					<div class="panel-body">
						<div class="row">
							<input	type="text" class="form-control" ng-model="newHotel.name" />
						</div>
						<div class="row">
							<input	type="number" class="form-control" ng-model="newHotel.price" />
						</div>
						<div>
							<button class="btn btn-success" ng-click="addHotel(newHotel)">Add</button>
						</div>
					</div>
				</div>

			</div>

		</div>

	</div>